* {
  box-sizing: border-box;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  background-color: rgb(253, 220, 255);
  color: rgba(97, 60, 42, 0.43);
}

h1 {
  font-size: 3rem;
  color: yellow;
  line-height: 1;
  margin: 1rem;
  grid-row-start: 1;
  grid-row-end: 1;
  font-family:fantasy
}

/* h1 {
  font-size: 5rem;
  color: #142632;
  margin: 5rem  6rem;
  font-family: 'Astloch', cursive;
  justify-self: center;
  display: inline-block;
  vertical-align: middle;
} */

main {
  width: 1024px;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-template-rows: 5.5rem 10rem 20rem 20rem 40%;
}

#siteLogo {
  width: 75px;
  z-index: 2;
  grid-column-start: 2;
  grid-row-start: 1;
}

section {
  /* This element will be a grid item, but also a flex container */
  background-color: rgba(211, 187, 176, 0.3);
  padding: 2rem;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

section img {
  width: 30%;
  max-height: 26rem;
  border: 5px solid transparent;
}

#bodyType {
  grid-row-start: 4;
  grid-column-start: 2;
}

section img:hover {
  border: 10px solid rgb(28, 35, 169);
  cursor: pointer;
}

ul {
  margin: 1rem;
  Grid-column-start: 2;
}

/* -- button -- */
section + div {
  background-color: rgba(128, 128, 128, 0.618);
  color: rgb(211, 211, 211);
  padding: .5rem 1rem;
  width: max-content;
  height: max-content;
  font-size: .8rem;
  margin: 1rem;
}
.glow-on-hover {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: .15rem;
}